.main-header .logo {
	height: 60px !important;
	line-height: 60px !important;
}

.dropdown-menu>li>a {
	color: $black !important;
}

.small-box .icon {
	color: #384D68;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    line-height: normal;
    text-align: center;
}