/**
 * COLORS
 */

/**
 * Default colour for objects’ borders etc.
 */
$black:				#212121 !default;
$white:				#FFFFFF !default;
$brand:				#384D68 !default;
$red:				#F16362 !default;
$green:				#69F0AE !default;
$blue:				#448AFF !default;