/**
 * HELPERS
 */

/**
 * hidden
 */
.hidden {
	display: none !important;
}

/**
 * clearfix
 */
.clearfix {
	@include clearfix();
}

.relative {
	position: relative;
}

/**
 * left
 */
.left {
	float: left !important;
}

/**
 * right
 */
.right {
	float: right !important;
}

/**
 * center
 */
.center {
	text-align: center !important;
}

/**
 * bottom
 */
.bottom16 {
	margin-bottom: 16px !important;
}

.bottom24 {
	margin-bottom: 24px !important;
}

/**
 * top
 */
.top16 {
	margin-top: 16px !important;
}

.top32 {
	margin-top: 32px !important;
}

/**
 * right
 */
.right8 {
	margin-right: 8px !important;
}