/**
 * DROPDOWN
 */

.dropdown {
	position: relative;
	z-index: 900;
}

.dropdown__menu {
	background-color: $brand;
	list-style: none;
	margin: 0;
	padding: 8px 0;
	width: 240px;
	position: absolute;
	top: 100%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	@include vendor(border-radius, 2px);
	@include vendor(transition, all 0.3s);
}

.dropdown__menu-link {
	color: $white;
	display: block;
	font-size: em(14);
	line-height: 1.3;
	padding: 6px 16px 5px 40px;
	position: relative;

	i {
		position: absolute;
		top: 8px;
		left: 16px;
	}

	&:hover,
	&:focus {
		color: $white;
	}
}

.dropdown__label {
	cursor: pointer;
}

.dropdown__checkbox {
	display: none;
	position: absolute;
	left: 0;
	top: 0;

	&:checked + .dropdown__menu {
		opacity: 1;
		visibility: visible;
	}
}

.dtp .dtp-picker-time > a, 
.dtp table.dtp-picker-days tr > td > a {
	padding: 4px 5px;
}