/**
 * NAVIGATION
 */

.navigation {
	.button {
		float: right;
	}
}

.navigation__wrap {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.navigation__item {
	margin-right: 20px;

	@include media-query(desk-wide-start) {
		margin-right: 0;
		margin-left: 32px;
	}
}

.navigation__link {
	display: block;
	height: 40px;
	line-height: 40px;
}