/**
 * FORMS
 */

.errand-form__description {
	height: 200px;
}

.errand-form__submit {
	width: auto;
}

.errand-form__button {
	width: 100%;
}

.errand-form__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.errand-form__list-item {
	margin: 8px 0;
	position: relative;
	padding: 0 24px;
}

.errand-form__delete-ic,
.errand-form__check-ic {
	position: absolute;
}

.errand-form__check-ic {
	top: 3px;
	left: 0;
}

.errand-form__delete-ic {
	right: 0;
	top: 0;
	cursor: pointer;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background-color: $brand;
	color: $white;
	@include vendor(border-radius, 24px);
}

/**
 * select2 form overrides
 */
.select2-container--default .select2-selection--single {
	height: 41px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    @include vendor(border-radius, 2px);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 41px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 41px;
}