/**
 * LAYOUT
 */

.bottom8 {
	margin-bottom: 8px;
}

.bottom16 {
	margin-bottom: 16px;
}

.bottom24 {
	margin-bottom: 24px;
}

.bottom32 {
	margin-bottom: 32px;
}

.bottom48 {
	margin-bottom: 48px;
}

.top48 {
	margin-top: 48px;
}